/* StudentRequest.css */

.student-request-container {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #d9bef2;
   padding-top: 100px;
  }
  .card{
    padding: 10px 20px;
    width: 70vw;
    background: #fff;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  .accept-reject-buttons{
    display: flex;
    gap: 10px; 
  }

  .requests-title{
    margin-bottom: 20px;
  }
  .bold {
    font-weight: 600;
  }
  .imgBx img {
    height: 100%;
    max-width: 100%;
    /* max-height: 100%;
    width: auto; */
    border-radius: 50%;
    object-fit: cover;
  }

  .imgBx{
    height: 100px;
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.image-info-container{
  display: flex;
  align-items: center;
}